<a href="https://colab.research.google.com/github/rohit958/Coursera_repo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

**Objectives:**
* Languages used in Data Science
* Libraries used in Data Science
* How to Create table in Jupyter Notebook Markdown
* How to create Heading in Jupyter Notebook

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Keras
5. PyTorch
6. Scikit Learn

Data Science tools:

| S.No. | DataScienceTools |
| --- | ---- |
| 1 | R Studio |
| 2 | Jupyter |
| 3 | PySpark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes=200

hour= minutes%60
minute= minutes//60

print("{}.{}".format(hour,minute))

20.3

## Author â–¶
 - Rohit Kushwaha
 - rohitkushwaha630@gmail.com